@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*

Ultime version de la feuille de style commune (à réutiliser dans les modules 4 et 5)

Ajout de la marge entre les sections
Ajout des la section form depuis le corrigé de l'exercice "form" du module 2
Ajout de la section table (version proche du corrigé de l'exercice "table" du module 2 mais avec quelques ajustements)

*/
/* *****************************************************************
TOOLS
***************************************************************** */

* {
  margin: 0;
  padding:0;
  font-family: 'Poopins', sans-serif;
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
   
  background:#dee1e2;
  min-height : 100vh;
  overflow-x: hidden;
	font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}
h1{
  display: flex;
  justify-content: center;
}
/* *****************************************************************
CONTAINER
***************************************************************** */

/* Le container permet de limiter la largeur d'un contenu */
.container {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.container_home {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
/* *****************************************************************
NAVIGATION
***************************************************************** */

.nav_checkbox{
  display: grid;
  align-items: center;
  justify-items: end;
  justify-content: space-between;
  padding: 25px 40px;
  background: #fff;
}

.logo{
  width: 8vh;
  height: 8vh;
}

.tab-nav{
  outline: none;
  display: none;
}

.label{
  display: none;
  color: #fff;
}

.burger{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin-top: 5px;
  transition:all 0.5s ease;
}

input[type=checkbox]:checked ~ .label #burg0{
  opacity:0;
}

input[type=checkbox]:checked ~ .label #burg1{
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ .label #burg2{
  transform: rotate(-45deg) translate(7px, -7px);
}

.content_nav{
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content_nav li{
  display: inline-block;
  padding-right: 10px;
}

.content_nav li a{
  font-family: 'Poppins' sans-serif;
  text-decoration: none;
  color: #333;
  position: relative;
  font-size:1em;
  text-transform:uppercase;
  letter-spacing:0.2em;
}

.content_nav li a::after{
  content: '';
  display: block;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: left;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after{
  transform: scale(1, 1);
}

/* *****************************************************************
NAVIGATION BURGER
***************************************************************** */

@media screen and (max-width: 1200px){

.label{
  display: grid;
  justify-content: end;
  cursor: pointer;
  grid-column: 3;
  padding-right: 10px;
    }

.content_nav{
  display: grid;
  grid-column: 1/4;
  text-align: center;
  max-height: 0;
  justify-items: end;
  overflow: hidden;
  transition: all ease-in-out 0.6s;
}


.nav_checkbox input:checked ~ .content_nav{
  max-height: 1280px;
}

.content_nav li{
  padding: 15px 0px;
}

}
/* *****************************************************************
NAVIGATION ADMIN
***************************************************************** */
.sidebar{
  
  background-color:grey;
  width:22vh;
  height: 50vh;
}
.sidebar a{
  text-decoration: none;
  color: #333;
  font-size:1em;
  font-weight:300;
  text-transform: uppercase;
  letter-spacing:0.1em;
}

/* *****************************************************************
SWITCH COLOR TEMPLATE
***************************************************************** */
/* la boîte autour du curseur */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Masquer la case à cocher HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Le slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 5px;
  right: 5px;
  bottom: 7px;
  background-color: #ccc;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .2s;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #333;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* curseurs arrondis */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* *****************************************************************
COLOR THEME
***************************************************************** */

.dark  {
  background-color: #333;
  color: #fff;
}
.dark p{
  color: #fff;
}
.dark form{
   background-color: #333;
}
.dark .nav_checkbox{
  background-color: #333;
}
.dark .nav_checkbox a{
color:white;
}
.dark input:checked + .slider{
  background-color: #CCC;
}
.dark .slider:before{
  color:#333;
}
.dark .burger{
  background-color: #fff;
}
.dark td {
    border: 1px solid white;
      border-collapse: collapse;
}
.dark .lien_admin{
  text-decoration:none;
   color: #fff; 
}
.light {
  background-color: #fff;
  color: #333;
}
/* *****************************************************************
CARD HOME / PRESTATION
***************************************************************** */
.container h2{
  text-align: center;
}
.card {
  display: inline-block;
     width: 371.5px;
  margin: 0px auto; /*2*/
  box-shadow: 0px 5px 20px #999; /*4*/
  margin:10px
}

.card:hover .card_image .img { /*6*/
  width: 160%;
  filter: grayscale(0);
}
.card_image > img {
height: 38vh;
width: 44vh;
  
}
.card_image {
  
  height: 250px;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
}
.card_image .img {
  width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);/*6*/
    /*7 - Transition */
  transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}
.card_body {
    text-align:center;  /*1*/
  padding: 15px 20px; /*2*/
  box-sizing: border-box; /*3*/
}
.card_button{
  
}


/* *****************************************************************
FORMULAIRE
***************************************************************** */
form {
  width: 45vh;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  display: grid;
  /* align-items: flex-end */
  justify-content: center;
  justify-items: center;
}
.center{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.text_email{
  display:block;
  color: #999;
  font-weight:500;
  padding:5px 0;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:0.75em;
}

#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Entrées pleine largeur*/
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Définir un style pour tous les boutons*/
input[type=submit] {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
textarea{
  width: 24em;
  height: 15em;
}
#del {
  background-color: red;
}
#del:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

/* *****************************************************************
TOOLS
***************************************************************** */

input:required {
  border-color: green;
  border-width: 0.15em;
}
textarea:required {
  border-color: green;
  border-width: 0.15em;
}

input:required:invalid {
  border-color: #c00000;
}
textarea:required:invalid {
  border-color: #c00000;
}

/*input:active[type=text],[type=email],[type=text],[type=number],[type=password]{*/
/*  border:1px solid green;*/
/*}*/
/*input:invalid[type=text],[type=email],[type=text],[type=number],[type=password]{*/
/*   border:1px solid red;*/
/*}*/
    /* *****************************************************************
A PROPOS
***************************************************************** */
.blog_card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog_card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog_card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog_card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.photo{
  display:flex;
}
.blog_card img{
  width:30vh;
  height: 40.5vh;
}
.blog_card .description {
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.blog-card .description{
  text-align: right;
  color: #5ad67d;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.blog_card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog_card:hover {
  left: 0%;
}
@media (min-width: 640px) {
  .blog_card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog_card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog_card .description {
    flex-basis: 60%;
  }
  .blog_card.alt {
    flex-direction: row-reverse;
  }
}
.card_grid{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px;
  grid-gap: 0.5em;
}
.card_grid_img img{
  max-width: 200px;
  height: 100%;
  display: block;
  width: auto;
  object-fit: cover;
}
.card_grid_body{
  display: flex;
  flex-direction: column;
}
.apropos_texte{
  display:flex;
}
.apropos_image{
  display:flex;
  
}
.apropos_ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
.apropos_ul > li{
  margin-bottom: 13px;
    display: flex;
    padding-bottom: 13px;
    line-height: 1.29;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.apropos {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  gap: 30px;
}
.apropos_div{
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.apropos_div2{
  display: flex;
  width: 92px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.apropos_font{
font-weight: 700;
}
.titre_horaire{
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.29;
  font-weight: bold;
}
.openingHours{

  /* La fonction calc() effectue un calcul à utiliser comme valeur de propriété. 
  calc() est une fonction CSS3 offrant la possibilité de réaliser des opérations mathématiques en CSS (addition, soustraction, division et multiplication). */
  width: calc((8.33333vw - 30px) * 5 + 120px);
  max-width: 457.5px;
}

/* *****************************************************************
Google map
***************************************************************** */
iframe{
  width: 50vh;
  height: 35vh;
  border:0;
}
/* *****************************************************************
Admin
***************************************************************** */

/*---------------tableau admin---------------*/
.lien_admin {
  text-decoration: none;
  color: #333;
}
.array_admin{
  min-width: 100vh;
  min-height: 100vh;
  margin: 1.5rem;
}
td {
    border: 1px solid black;
      border-collapse: collapse;
}