@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*

Ultime version de la feuille de style commune (à réutiliser dans les modules 4 et 5)

Ajout de la marge entre les sections
Ajout des la section form depuis le corrigé de l'exercice "form" du module 2
Ajout de la section table (version proche du corrigé de l'exercice "table" du module 2 mais avec quelques ajustements)

*/
/* *****************************************************************
TOOLS
***************************************************************** */

* {
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
   scroll-behavior: smooth;
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
  background:#dee1e2;
  min-height : 100vh;
  overflow-x: hidden;
	font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

h1{
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.3em;
}

h2{
  display: flex;
  justify-content: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}
/* *****************************************************************
CONTAINER
***************************************************************** */

/* Le container permet de limiter la largeur d'un contenu */
.container {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.container_home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container_admin{
  display:flex;
  padding: 0.5em;
}
.container_intro{
 display: flex;
    align-items: center;
    justify-content: center;
    padding:88px;
    gap:30px
    
}
.container_qualiter{
 padding:33px;
    
}
.container_privacy{
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  text-align: center;
}
.container_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* *****************************************************************
POPUP
***************************************************************** */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  top: 80px;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.content p {
  color:#333;
}
.dark .content p {
  color:#333;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{

    width: 90%;
    top: 0;
  }
}
/* *****************************************************************
BUTTON
***************************************************************** */

button {
	color: #000000;
	background-color: #ffffff;
	border: -1px solid #ffffff;
	padding: 7px 11px;
	letter-spacing: 3px;
	cursor: pointer
}
	
button:hover {
	color: #ffffff;
	background-color: #000000;
}
		
.dark	button {
	color: #ffffff;
	background-color: #000000;
}
		
.dark	button:hover {
  color: #000000;
	background-color: #ffffff;
	border: -1px solid #ffffff;
	padding: 7px 25px;
	letter-spacing: 3px;
	cursor: pointer;
}
		
/* **********************************	 buton RDV HOME ************************************* */		

		.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
position: relative;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  box-shadow: 0px 5px 20px #999;

  }

.button::before {
content: '';
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #000000;
  box-shadow: 0 0 60px rgba(0,0,0,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #000000;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* *****************************************************************
TEXTE DEFILEMENT HEADER
***************************************************************** */		
	
.marquee_header {
  overflow: hidden;
  max-width: 30em; 
}
.marquee_header > p {
  color:red;
  display: inline-block; 
  white-space: nowrap; 
  animation: defilement_header 25s infinite linear; /* défilement */
  cursor: pointer;
  letter-spacing: 2px;
  padding: 10px 2em 10px 100%;
}
.marquee_header:hover > p {
  animation-play-state: paused; /* met en pause le défilement */
}
.dark .marquee_header > p {
  color:red;
}
@keyframes defilement_header {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}
/* *****************************************************************
NAVIGATION
***************************************************************** */

.nav_checkbox{
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  justify-items: end;
  justify-content: space-between;
  padding: 15px 25px;
  background: #fff;
  width:100%;
  z-index: 999;
  box-shadow: 0px 5px 20px #999;
}

/* LOGO */
.logo_noir{
  position: absolute;
  width: 8vh;
  height: 8vh;
}
.logo_blanc{
  position: relative;
  width: 8vh;
  height: 8vh;
}

.tab-nav{
  outline: none;
  display: none;
}

.label{
  display: none;
  color: #fff;
}
.label p{
  color: #333;
}

.burger{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin-top: 5px;
  transition:all 0.5s ease;
}

input[type=checkbox]:checked ~ .label #burg0{
  opacity:0;
}

input[type=checkbox]:checked ~ .label #burg1{
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ .label #burg2{
  transform: rotate(-45deg) translate(7px, -7px);
}

.content_nav{
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content_nav li{
  display: inline-block;
  padding-right: 10px;
}

.content_nav li a{
  font-family: 'Poppins' sans-serif;
  text-decoration: none;
  color: #333;
  position: relative;
  font-size:1em;
  text-transform:uppercase;
  letter-spacing:0.2em;
}

.content_nav li a::after{
  content: '';
  display: block;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: left;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}
.dark .content_nav li a::after{
  content: '';
  display: block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: left;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}
.content_nav li a:hover::after{
  transform: scale(1, 1);
}

/* *****************************************************************
NAVIGATION BURGER
***************************************************************** */

@media screen and (max-width: 1200px){  
.nav_checkbox{
  position: fixed;
  bottom: 0;
  top: auto;
}
.label{
  display: grid;
  justify-content: end;
  cursor: pointer;
  grid-column: 3;
  padding-right: 10px;
    }

.content_nav{
  display: grid;
  grid-column: 1/4;
  text-align: center;
  max-height: 0;
  justify-items: end;
  overflow: hidden;
  transition: all ease-in-out 0.6s;
}
.nav_checkbox input:checked ~ .content_nav{
  max-height: 1280px;
}

.content_nav li{
  padding: 15px 0px;
}
.icon_position {
  position: fixed;
  top: 55px;
  right: 25px;
  z-index: 20;
}
.table thead {
  display: none;
}

.table tr{
  display: block;
  margin-bottom: 40px;
}

.table td {
  display: block;
  text-align: right;
}

.table td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
}

}
/* *****************************************************************
NAVIGATION ADMIN
***************************************************************** */
.sidebar{
  width: 31vh;
  height: auto;
}

.sidebar a{
  text-decoration: none;
  color: #333;
  font-size:1em;
  font-weight:300;
  text-transform: uppercase;
  letter-spacing:0.1em;
}

/* *****************************************************************
SWITCH COLOR TEMPLATE
***************************************************************** */
/* la boîte autour du curseur */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.icon_switch {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.icon_switch svg{
  width: 1.2rem;
}
/* Masquer la case à cocher HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Le slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 6px;
  right: 9.5px;
  bottom: 7px;
  background-color: #ccc;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1.5px;
  bottom: 3px;
  background-color: white;
  transition: .2s;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #333;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* curseurs arrondis */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* *****************************************************************
COLOR THEME
***************************************************************** */

.dark  {
  background-color: #333;
  color: #fff;
}
.dark p{
  color: #fff;
}
.dark form{
   background-color: #333;
}
.dark .nav_checkbox{
  background-color: #333;
}
.dark .nav_checkbox a{
color:white;
}
.dark input:checked + .slider{
  background-color: #CCC;
}
.dark .slider:before{
  color:#333;
}
.dark .burger{
  background-color: #fff;
}
.dark .lien_admin{
  text-decoration:none;
   color: #fff; 
}
.light .lien_admin{
  text-decoration:none;
   color: #333; 
}
.light {
  background-color: #fff;
  color: #333;
}

/* LOGO */
.light .logo_noir{
  position: absolute;
  visibility:hidden;
  width: 8vh;
  height: 8vh;
}
.dark .logo_blanc{
  position: relative;
  visibility:hidden;
  width: 8vh;
  height: 8vh;
}

/* *****************************************************************
CARD HOME / PRESTATION
***************************************************************** */
.card {
  display: flex;
  align-items: center;
 flex-direction: column;
  width: 23vh;
  height: 31vh;
  margin: 0px auto;
  border-radius: 33px;
  
  margin:13px;
}

.card:hover .card_image .img { 
  width: 160%;
  filter: grayscale(0);
}
.card_image > img {
  width: 23vh;
  border-radius: 24px;
  box-shadow: 0px 5px 20px #999;
  cursor:zoom-out;
    transition: all 1s;
}
.card_image > img:hover { 
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  cursor:zoom-in;
}
.card_image .img {
  width: 150%;/*4*/
    /*- Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
    /*- Transition */
  transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}
.card_body {
  text-align:center;  
  box-sizing: border-box; 
  width: 170px;
}
.card_button{
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px){ 
}
/* *****************************************************************
FORMULAIRE
***************************************************************** */
.formulaire {
  width: 45vh;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  display: grid;
  justify-content: center;
  justify-items: center;
}
.formulaire a{
  text-decoration:none;
  color:cyan;
}
.formulaire p{
  display: flex;
}
.light a{
  text-decoration:none;
  color:#333;
}
.dark a{
  text-decoration:none;
  color:#fff;
}
.center{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  padding: 33px;
}
.text_email{
  display:block;
  color: #999;
  font-weight:500;
  padding:5px 0;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:0.75em;
}

#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Entrées pleine largeur*/
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Définir un style pour tous les boutons*/
input[type=submit] {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
textarea{
  width: 39vh;
  height: 35vh;
}
#del {
  background-color: red;
}
#del:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

/* *****************************************************************
TOOLS
***************************************************************** */

input:required {
  border-color: green;
  border-width: 0.15em;
}
textarea:required {
  border-color: green;
  border-width: 0.15em;
}

input:required:invalid {
  border-color: #c00000;
}
textarea:required:invalid {
  border-color: #c00000;
}

/* *****************************************************************
TOP SCROLL
***************************************************************** */
.top_btm{
  position: relative;
}
.icon_position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon_style{
  background-color: #53af57;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon_style:hover{
  animation: none;
  background: #fff;
  color: #53af57;
  border: 2px solid #53af57;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
/* *****************************************************************
HOME
***************************************************************** */
.header{
  display:flex;
  align-items: center;
    justify-content: center;
  margin:0;
  padding:0;
  background:url("../public/image/header.jpg") no-repeat center fixed;
 background-size: cover;
 width:1200%;
 height:50vh;
}
.text_header{
  letter-spacing: 1em;
    display: grid;
    justify-items: end;
}
.text_header > p{
  color:#fff;
}
.dark .text_header > p{
  color:#333;
}
.text_header h1{
font-size:48px;
}
.prestation_home h2,p{
 display: grid;
    justify-items: center;
}

.text_intro{
  margin: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_intro p{
     justify-content: center;
     text-align: center;
}
.container_qualiter p{
     justify-content: flex-start;
}
.carousel_intro{
      margin: 13px;
}

.background_slide{
  background-color:grey;
  color:#fff;
  padding: 33px;
}

.produit_intro{
    display: flex;
    /* text-align: center; */
    gap: 30px;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
  
    flex-direction: row;
    flex-wrap: wrap;
}
.card_img_produit{
  height: 263px;
  width: 350px;
  
    box-shadow: 0px 5px 20px #999;
}
.produit_intro_container{
  
}
.card_excerpt{
  margin:-6vh;
}
.produit_intro_prix{ 
}
.card_title{
  height: 2vh;
}
.text_qualiter{
  display: flex;
    align-items: center;
}
.diamond{
  height: 4vh;
    width: 10vh;
}

@media screen and (max-width: 1200px){  
.card_title {
    height: 1vh;
}
}
/* ********************** Carousel static Home******************************** */

.slideshow2{
  height: 15rem;
    width: 15rem;
  border:5px solid #fff;
  box-shadow:0 1px 4px rgba(0,0,0,.4);
  position: relative;
  aspect-ratio:auto;
  overflow: hidden;
}
	
.slideshow2 li img {
  top:0;
  left:0;
  height:100%;
  width:100%;
  position: absolute;
  opacity: 0;
}
	
.slideshow2 li:nth-child(1) img,
.slideshow2 li:nth-child(2) img,
.slideshow2 li:nth-child(3) img,
.slideshow2 li:nth-child(4) img{
	
  animation:slide1 20s ease infinite
	}
.slideshow2 li:nth-child(2) img{
	animation-delay: 5s
	}
	
.slideshow2 li:nth-child(3) img{
	animation-delay: 10s
	}
	
.slideshow2 li:nth-child(4) img{
	animation-delay: 15s
	}
    
@keyframes slide1{
	
	0%{
	transform: scale(5);
	opacity: 0
	}
	
12%{
	transform: scale(1);
	opacity: 1;
	}
	
25%{
	transform: scale(1);
	opacity: 1;
	}
	
37%{
	transform: scale(1);
	opacity: 0;
	}
	
100%{
	}
	
	}

/* ********************** Carousel Image Home******************************** */
.carousel {
  height: 400px;
}
.carousel .card_container {
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.carousel .card_container .card_carousel {
  height: 100%;
  width: 33.3%;
  transition: all 1s;
  position: absolute;
  opacity: 0.8;
  transform: scale(0.8);
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.carousel .card_container .card_carousel img {
  height: 100%;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 5px 20px #999;
}
.carousel .rects {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .rects .rect {
  height: 2px;
  width: 20px;
  background-color: #ddd;
  margin-right: 8px;
  cursor: pointer;
}
.carousel .rects .active {
  background-color: #c62f2f;
}
@media screen and (max-width: 1200px){  
  .carousel{

 height: 180px;
  }
  .carousel .card_container{
height: 165px;
  }
  .carousel .card_container .card_carousel img{
    height: 76%;
    width: 107%
    
  }
}


    /* *****************************************************************
A PROPOS
***************************************************************** */
.blog_card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.image{
  text-align:center;
}

.blog_card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog_card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog_card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.photo{
  display:flex;
}
.blog_card img{
  width:30vh;
  height: 40.5vh;
}
.blog_card .description {
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.blog-card .description{
  text-align: right;
  color: #5ad67d;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.blog_card p {
  position: relative;
  margin: 1rem 0 0;
}
.card_img{
  height:20vh;
}

.blog_card:hover {
  left: 0%;
}
.background_slide1{
  padding:33px;
}
@media (min-width: 640px) {
  .blog_card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog_card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog_card .description {
    flex-basis: 60%;
  }
  .blog_card.alt {
    flex-direction: row-reverse;
  }
}
.card_excerpt p{
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_grid{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px;
  grid-gap: 0.5em;
}
.card_grid_img img{
  max-width: 200px;
  height: 100%;
  display: block;
  width: auto;
  object-fit: cover;
}
.card_grid_body{
  display: flex;
  flex-direction: column;
}
.apropos_texte{
  display:flex;
}
.apropos_image{
  display:flex;
  
}
.apropos_ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
.apropos_ul > li{
  margin-bottom: 13px;
    display: flex;
    padding-bottom: 13px;
    line-height: 1.29;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.apropos {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  gap: 30px;
}
.apropos_div{
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.apropos_div2{
  display: flex;
  width: 92px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.apropos_font{
font-weight: 700;
}
.titre_horaire{
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.29;
  font-weight: bold;
}
.openingHours{

  /* La fonction calc() effectue un calcul à utiliser comme valeur de propriété. 
  calc() est une fonction CSS3 offrant la possibilité de réaliser des opérations mathématiques en CSS (addition, soustraction, division et multiplication). */
  width: calc((11.33333vw - 30px) * 5 + 120px);
  max-width: 457.5px;
}

/* *****************************************************************
CONTACT
***************************************************************** */
.text_contact{
  margin: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
   background-color: #2d2d2d;
  width: 380px;
  padding: 40px;
  border-radius: 0 25px 25px 0;
  color:#fff;
}
.light .text_contact{

    background-color: #333;
}
/* *****************************************************************
Google map
***************************************************************** */
iframe{
  width: 50vh;
  height: 35vh;
  border:0;
}
/* *****************************************************************
Admin
***************************************************************** */

/*---------------tableau admin---------------*/
.lien_admin {
  text-decoration: none;
  color: #333;
}
.array_admin{
 min-width: 100vh;
}
.img_admin{
  height: 22rem;
    max-width: 27rem;
  
}
textarea{
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}


table{
	
margin: 1rem auto;
text-align: center;
width: 100%;
max-width: 100%;
border-collapse: collapse;
border: 1px solid

}
	
	

th,td{
  padding:8px 0
}

tbody tr:nth-child(even) {
background-color: grey;
}
.light td {
color: #333
}
	
@media only screen and (max-width: 1200px) {
		
table, 
thead, 
tbody, 
th, 
td, 
tr{ 
	
display: flex;
    align-items: center;
    flex-direction: column;
	
}
	
thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}
 
 
 
td { 
	
position: relative;
white-space: normal;
	}
 
td:before { 
	
position: absolute;
top: 6px;
left: 6px;
width: 45%; 
padding-right: 10px; 
font-weight: bold;
white-space: nowrap;
text-align:left;
content: attr(data-title)
	
	}
	
table {
    text-align: center;
    border: 1px solid;
}
}

/************************************Admin Message ****************************************/

.card_admin {
display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vh;
    /* height: 38vh; */
    margin: 0px auto;
    /* border-radius: 33px; */
    overflow: scroll;
    margin: 13px;
}


/* *****************************************************************
PolitiqueDeCookie
***************************************************************** */

.content {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.question {
  position: relative;
  background: grey;
  color: white;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}
.dark .question {
  background-color:grey;
}
.answers {
  padding: 0px 15px;
  margin: 5px 0;
  width:100%;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
  
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

}

.questions {
  display: none;
  
}


/* *****************************************************************
FOOTER
***************************************************************** */
 .footer{
      display: flex;
    justify-content: space-around;
    padding: 5px;
    height: 100px;
    background-color: grey;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#container_footer .icons_footer{
  text-decoration:none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
}
.icon_insta{

 color:blueviolet;

}
 .light .icons_footer a {
  color:#333;
}
.dark .icons_footer a {
  color:#fff;
}
.icon_fb{
  color:#4267B2;

}
.img_icon{
  height: 50px;
  width: 100%;
}
.reseaux{
  display: flex;
  gap: 30px;
}
.reseaux a {
    text-decoration:none;
}
.reseaux p {
  font-size:0.8em;
  color: #333;
}

.img_icon{
  height: 50px;
  width: 100%;
}
.reseaux{
  display: flex;
  gap: 30px;
}
.reseaux a {
    text-decoration:none;
}
.reseaux p {
  font-size:0.8em;
  color: #333;
}

@media screen and (max-width: 1200px){  

.footer{
  text-align: center;
    display: flex;
    padding: 5px;
    height: 245px;
    background-color: grey;
   justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
  
}